<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
    </head>

    <body>
        <%- include navbar %>
        <div class="container index-container">
          <div class="index-row">            
            <div class="index-column">
              <a href="dashboard">
                <img src="/images/home.png" class="img-index">
                <div class="index-text text-dash">DASHBOARD</div>   
              </a>             
            </div>            
            <div class="index-column rank-col">
              <a href="team_rank">
                <img src="/images/rank-icon.png" class="img-index">
                <div class="index-text">TEAM RANK</div>
              </a>    
            </div>
            <div class="index-column match-col">
                <a href="match">
                  <img src="/images/match-icon.png" class="img-index">
                  <div class="index-text">MATCH</div>
                </a>    
              </div>
          </div>
        </div>
    </body>

</html>
