<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Matches compare</title>
</head>

<body class="match_body">

<%- include navbar %>

<div class="container">
    <h1 class="match_title">Match compare</h1>

    <div class="row input">
        <div class="col-4-xs team_input">
            <input class="match_input team_input_one" type="text" placeholder="Team name">

        </div>
        <div class="col-4-xs">
            <p class="vs">VS</p>
        </div>
        <div class="col-4-xs team_input">
            <input class="match_input team_input_two" type="text" placeholder="Team name">
        </div>
    </div>
    <div class="chart-wrapper">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="/javascripts/typeahead.js"></script>
<script src="/javascripts/team_autocomplete.js"></script>
<script src="/javascripts/matches.js"></script>
</body>

</html>
