<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
    </head>

    <body>
        <%- include navbar %>        
        <div class="container teamRankPage">
            <h2 id="teamrank_header">Team's name</h2>
            <div class="col-4-xs team_input">
                <input id="team_search " class="teamInput" type="text" placeholder="Team name">
                <button type="submit" id="search_submit" class="btn btn-dark">Search</button>
            </div>
            <canvas id="rank_chart" width="400" height="180"></canvas>
        </div>        
        <script src="/javascripts/typeahead.js"></script>        
        <script src="/javascripts/teamline_chart.js"></script>        
        <script>
            team_name = '<%-team_name%>'
            result = '<%-result%>'            
        </script>
    </body>

</html>
