<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
    </head>

    <body>
        <%- include navbar %>
        <div class="container">
            team
        </div>
    </body>

</html>
