<%- include script_link %>

<div>League</div>
<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Team</th>
          <th scope="col">W</th>
          <th scope="col">L</th>
          <th scope="col">PCT</th>
          <th scope="col">GB</th>
          <th scope="col">Home</th>
          <th scope="col">Away</th>
          <th scope="col">DIV</th>
          <th scope="col">CONF</th>
          <th scope="col">PPG</th>
          <th scope="col">OPP PPG</th>
          <th scope="col">DIFF</th>
          <th scope="col">STRK</th>
          <th scope="col">L10</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>        
        </tr>
    </tbody>
</table>
