

.compare-border {
    border: 2px solid grey;
    padding-bottom: 17px;

}

.tt-menu {
    color: #222222 !important;
    text-align: left;
    border: 0.2px solid grey;
    width: 320px;
    background-color: white;
    padding-left: 2px;
}

@media only screen and (max-width: 1100px) {
    .compare-row {            
        display: inline;        
    }
}

.tt-selectable:hover {
    background-color: rgba(133, 133, 133, 0.699);
    color: #fafafa;

}

.compare-button {
    background-color: #222222;
    color: white;
}

.compare-button:hover {
    color: #222222;
    background-color: white;
    letter-spacing: 1px;
    font-weight: 500;
}

.img-match {
    width: 600px;
    height: auto;
}

#match_chart {
    width: 200px;
    height: 500px;
    margin-top: 2rem;
    background: whitesmoke;
    margin-bottom: 2rem;
}

#compare_line {
    margin-top: 2rem;
    background: whitesmoke;
    margin-bottom: 2rem;
}

.chart-wrapper {
    width: 50rem;
    height: auto;
    margin: 0 auto;
}

.match_body {
    /* font-family: 'Alfa Slab One', cursive; */
    text-align: center;
    /*background-color: #153b56;*/
}

.match_title {
    margin: 2.5rem;
    font-weight: 400;
}

.input{
    margin: auto;
    height: 7rem;
    text-align: center;
}

.team_input {
    /*width: 10px;*/
    margin: 40px 20px;
}



/* .match_input {
    width: 200px;
    height: 45px;
    /*background-color: #3CBC8D;*/
/* } */

.vs {
    font-size: 20px;
    margin-top: 3rem;
}

#compare_submit {

}

#compare_submit:hover {
    opacity: 0.8;
}
