/*body {*/
/*    !*  padding: 50px;*!*/
/*    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
/*    color: #00B7FF;*/
/*}*/

#match_chart {
    width: 200px;
    height: 500px;
    margin-top: 2rem;
    background: whitesmoke;
    margin-bottom: 2rem;
}

#compare_line {
    margin-top: 2rem;
    background: whitesmoke;
    margin-bottom: 2rem;
}

.chart-wrapper {
    width: 50rem;
    height: auto;
    margin: 0 auto;
}

.match_body {
    /* font-family: 'Alfa Slab One', cursive; */
    text-align: center;
    /*background-color: #153b56;*/
}

.match_title {
    margin: 2.5rem;
    font-weight: 400;
}

.input{
    margin: auto;
    height: 7rem;
    text-align: center;
}

.team_input {
    /*width: 10px;*/
    margin: 40px 20px;
}



/* .match_input {
    width: 200px;
    height: 45px;
    /*background-color: #3CBC8D;*/
/* } */

.vs {
    font-size: 20px;
    margin-top: 3rem;
}

#compare_submit {

}

#compare_submit:hover {
    opacity: 0.8;
}
