.teamRankPage {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin: auto;
}

#teamrank_header {
    margin-top: 1rem;
}

.teamInput {
    background-color: white(248, 191, 168);
    border: 0.2rem solid lightgray;
    border-radius: 1rem;
    color: gray;
    width: 20rem;
    padding-left: 1rem;

}

#search_submit {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

#search_submit:hover {
    opacity: 0.8;
}

#myChart {
    background: white;
}